<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="template/assets :: meta"></th:block>
    <title>AlgoraderContest - Registrierung</title>
    <th:block th:replace="template/assets :: favicon"></th:block>
    <th:block th:replace="template/assets :: css-lib"></th:block>
    <th:block th:replace="template/assets :: css-login"></th:block>
    <th:block th:replace="template/assets :: js-login"></th:block>
</head>

<body>
<th:block th:replace="template/global :: require-js"></th:block>
<th:block th:replace="template/global :: heading"></th:block>
<div class="row">
    <div class="large-5 medium-7 small-11 large-centered small-centered columns">
        <form th:action="@{/register}" class="form-login" method="post">
            <fieldset>
                <h3>Bitte registrieren</h3>
                <div data-abide-error="" th:if="${errors.hasErrors()}" class="alert callout">
                    <span class="fa fa-exclamation-triangle"></span> Registrieren fehlgeschlagen!
                </div>

                <label th:class="${errors.have('username')} ? 'is-invalid-label'">Benutzername
                    <input type="text" name="username" th:class="${errors.have('username')} ? 'is-invalid-input'"
                           required="required" autofocus="autofocus"/>
                    <small class="form-error is-visible" th:if="${errors.have('username')}"
                           th:text="${errors.get('username')}"></small>
                </label>

                <label th:class="${errors.have('email')} ? 'is-invalid-label'">E-Mail
                    <input type="email" name="email" th:class="${errors.have('email')} ? 'is-invalid-input'"
                           required="required"/>
                    <small class="form-error is-visible" th:if="${errors.have('email')}"
                           th:text="${errors.get('email')}"></small>
                </label>

                <label th:class="${errors.have('password')} ? 'is-invalid-label'">Passwort
                    <input type="password" name="password"
                           th:class="${errors.have('password')} ? 'is-invalid-input'" required="required"/>
                    <small class="form-error is-visible" th:if="${errors.have('password')}"
                           th:text="${errors.get('password')}"></small>
                </label>

                <label th:class="${errors.have('password2')} ? 'is-invalid-label'">Passwort wiederholden
                    <input type="password" name="password2"
                           th:class="${errors.have('password2')} ? 'is-invalid-input'" required="required"/>
                    <small class="form-error is-visible" th:if="${errors.have('password2')}"
                           th:text="${errors.get('password2')}"></small>
                </label>

                <div class="clearfix">
                    <button type="submit" class="button float-left large-5 medium-5 small-12"><span
                            class="fa fa-sign-in fa-fw"></span> Registrieren
                    </button>
                    <a th:href="@{/}" class="button secondary float-right large-4 medium-4 small-12"><span
                            class="fa fa-chevron-left fa-fw"></span> Zurück</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script>
    $(document).foundation();
</script>
</body>

</html>