<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="acApp">

<head>
    <th:block th:replace="template/assets :: meta"></th:block>
    <title>AlgoraderContest</title>
    <th:block th:replace="template/assets :: favicon"></th:block>
    <th:block th:replace="template/assets :: css-lib"></th:block>
    <th:block th:replace="template/assets :: css-app"></th:block>
    <th:block th:replace="template/assets :: js-app"></th:block>
</head>

<body>
<th:block th:replace="template/global :: require-js"></th:block>
</body>

</html>